<footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link"  routerLinkActive="router-link-active"  href="#">
        <fa-icon [icon]="fafacebook"></fa-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link"  href="#">
        <fa-icon [icon]="fainsta"></fa-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
        <fa-icon [icon]="fatwitter"></fa-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
        <fa-icon [icon]="fagithub"></fa-icon>
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="#">About</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

    </ul>
    <p>&copy;2021 Nadine Coelho | All Rights Reserved</p>
  </footer>
